body {
 background-color: rgb(201, 231, 241);
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {color:blue; font-family: fantasy;}
h2 {color:rgb(219, 219, 249)}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: rgb(237, 52, 191);
}

.del {
  text-decoration: line-through; color: blue;
}

